body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: white;
    text-align: center;
}

.container {
    margin-top: 15%;
}

h1 {
    font-size: 3em;
    letter-spacing: 2px;
}

p {
    font-size: 1.2em;
    margin-bottom: 40px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    padding: 15px 30px;
    border: 2px solid #00c6ff;
    color: #00c6ff;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s;
    display: inline-block;
}

.btn:hover {
    background-color: #00c6ff;
    color: black;
}


.contacts-box {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 30px;
    border-radius: 10px;
    display: inline-block;
}

.contacts-box a {
    color: #00c6ff;
    text-decoration: none;
}

.contacts-box a:hover {
    text-decoration: underline;
}
@media (max-width: 768px) {

    .container {
        margin-top: 30%;
        padding: 20px;
    }

    h1 {
        font-size: 2em;
    }

    p {
        font-size: 1em;
    }

    .buttons {
        flex-direction: column;
        gap: 15px;
    }

    .btn {
        width: 80%;
        margin: 0 auto;
    }
}

